@font-face {
    font-family: 'Lato';
    src: url(font-lato.woff2);
}
@font-face {
    font-family: 'Metropolis';
    src: url(font-metropolis.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, serif;
    background-color: #eaeaec;
}

h1 {
    font-family: Metropolis, sans-serif;
    font-size: 3em;
    padding: 15px;
    color: #161618;
}

h3 {
    padding: 20px;
    font-size: 2em;
}

.message-section {
    background-color: #161618;
    display: flex;
    color: #eaeaec;
}

.message-section > div {
    flex: 50%;
    margin: 50px;
    border: 1px solid #eaeaec;
    border-radius: 3px;
    position: relative;
    padding-bottom: calc(1.5em + 20px + 50px); /* text content, padding, top-margin */
}

.message-section ul {
    margin-top: 30px;
    margin-left: 10%;
}

.message-section p {
    padding: 10px;
    text-indent: 10px;
}

.message-section li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.message-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    appearance: none;
    border: none;
    background: none;
    color: inherit;
    font-size: 1.5em;
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid #eaeaec;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}

.message-input:focus {
    outline: none;
}

.event-section {
    padding: 30px;
    background-color: #eaeaec;
}

.event-section h3 {
    display: inline;
}

.event-type-header {
    margin-bottom: 30px;
}

.event-type-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #161618;
    border-radius: 3px;
    padding: 10px;
    font-size: 2em;
    background: inherit;
    color: #161618;
}

.event-type-select:hover {
    cursor: pointer;
}

.event-type-select:focus {
    outline: none;
}

#chart {
    border: 1px solid #161618;
    border-radius: 3px;
    width: 100%;
}